
<div class="wrapper">
  <span class="icon-close">
    <i class="bi bi-x-circle"></i>
  </span>
  <div class="form-box login">
    <h2>login</h2>
    <form action="#">
      <div class="input-box">
        <span class="icon"><i class="bi bi-envelope"></i></span>
        <input type="email" required>
        <label>Email</label>
      </div>
      <div class="input-box">
        <span class="icon"><i class="bi bi-lock"></i></span>
        <input type="password" required>
        <label>password</label>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox"></label>
        <a href="#">Forgot password</a>
      </div>
      <button type="button" class="btn btn-light">Login</button>
        <div class="login-register">
          <p>Don t have an account?<a href="#"
            class="register-link">Register</a></p>
        </div>
     </form>
  </div>
</div>


