
.wrapper {
  /*texto*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(13, 14, 14);

  /*fondo*/
  width: 26rem;
  height: 26rem;
  position: relative;
  border-radius: 1em;
  background-color: rgb(204, 204, 204);
  border: 2px solid rgba(255, 255, 255, .5);
  background: transparent; /* forma de vidrio */
  backdrop-filter: blur(20px); /* forma de vidrio */
  justify-content: center;
  align-items: center;   /*alinear texto*/
  overflow:hidden;   /* hace que el navegador oculte todos los contenidos que se salen de la caja- se redondea la punta*/
}

.form-box h2{  /*Letra de Login*/
  color: #fcfcfc;
  text-align:center;
  font-size: 2em;
}

.wrapper .form-box{ /*linea negra*/
  width: 100%;
  padding: 30px;
}

.wrapper .icon-close{  /*icono de cerrar*/
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 1em;
  background: #162938;
  font-size: 2em;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 20px;   /*para que quede el boton cerrar lindo -- los ultimos 3*/
  cursor: pointer;
  z-index: 1;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #162938;
  margin: 50px 0;
}



.input-box label{
  position: absolute;
  top: 5px;
  transform: translateY(-20%);
  font-size: 1em;
  color: #163816;
  font-weight: 500;
  pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
  transition: 0.5s;
}

.input-box input{ /*linea para escrib*/
  width: 70%;
  height: 900%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
}


.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1em;
  color: #163816;
}


.remember-forgot{
  font-size: .9em;
  color:#163816;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{ /*boton para guardar clave*/
  accent-color: #162938;
  margin-right: 3px;

}

.remember-forgot a{
  color:#162938;
  text-decoration: nome;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color:#162938;
  text-align: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-align: underline;
}



/*3*/
